@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Manrope;
}

/* HEADER */
.container {
  background-color: #fff;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding-right: 0rem;
  padding-bottom: 0;
  padding-left: 0rem;
  max-width: 100%;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-desktop {
  justify-content: center;
  margin-right: 50px;
  flex-basis: 200%;
}

.logo-mobile {
  display: none;
}

/* styles for Navbar*/

.menu {
  align-items: initial;
  justify-content: space-between;
  padding-top: 1.5rem;
  left: 1.25rem;
}

.menu__element--active {
  line-height: 1;
  height: 3.25rem;
  color: #00343d;
  display: inline-block;
  font-size: 1.125rem;
}

.menu__element {
  height: 3.25rem;
  color: #00343d;
  margin: 0.5rem;
  display: inline-block;
  margin-left: 1.25rem;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
}

.menu__link {
  text-decoration: none;
  color: black;
}

.header__social {
  display: none;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 236, 43);
    padding-top: 0.875rem;
    padding-right: 0rem;
    padding-bottom: 0.875rem;
    padding-left: 0rem;
    width: 100%;
    position: absolute;
    text-align: center;
  }

  .nav-header__icon {
    font-size: 1.5rem;
    display: none;
    left: 1.563rem;
    position: absolute;
  }

  .nav-header__icon--active {
    display: inline-block;
  }

  .menu {
    display: none;
  }

  .menu-mobile {
    display: inline-block;
    background-color: white;
    width: 100%;
  }

  .menu-mobile .menu {
    margin-top: 0.625rem;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0rem;
  }

  .menu__element:hover::after {
    content: "";
    height: 0.313rem;
    width: 0.313rem;
    border-radius: 100%;
    background: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    visibility: visible;
    overflow: visible;
  }

  .menu-mobile .menu .menu__element {
    position: relative;
    display: block;
    float: none;
    text-align: center;
    margin-top: 1.563rem;
    padding-right: 0;
  }

  .menu__element {
    display: none;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: inline-block;
    margin-top: 0.313rem;
    margin-left: 0.313rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .nav-header__icon {
    width: 60px;
    font-size: 25px;
    margin-left: 25px;
  }

  .nav-header__icon:nth-child(1) {
    display: block;
  }

  .nav-header__icon:nth-child(2) {
    display: none;
  }
  .menu-mobile .nav-header__icon:nth-child(1) {
    display: none;
  }
  .menu-mobile .nav-header__icon:nth-child(2) {
    display: block;
  }

  .navbar {
    display: block;
    align-items: center;
    background-color: rgb(223, 236, 43);
    padding-top: 0.875rem;
    padding-right: 0rem;
    padding-bottom: 0.875rem;
    padding-left: 0rem;
    width: 100%;
    position: absolute;
    text-align: center;
  }

  .menu__element:hover::after {
    content: "";
    height: 0.313rem;
    width: 0.313rem;
    border-radius: 100%;
    background: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    visibility: visible;
    overflow: visible;
  }

  .menu {
    margin: 0rem;
    display: none;
  }

  .menu-mobile {
    display: inline-block;
    background-color: white;
    width: 100%;
  }

  .menu-mobile .menu {
    margin-top: 0.625rem;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0rem;
  }

  .menu__element {
    position: relative;
    display: block;
    float: none;
    text-align: center;
    margin-top: 1.563rem;
    font-size: 1.875rem;
  }

  .logo-mobile {
    display: none;
    margin-top: 0.313rem;
    margin-left: 1.875rem;
  }

  .menu-mobile .logo-mobile {
    display: none;
    margin-top: 0.625rem;
    margin-left: 0.625rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-header {
    position: absolute;
    margin-bottom: 5px;
  }

  .nav-header__icon {
    display: none;
  }

  .menu {
    margin-right: 450px;
  }

  .header__social {
    display: flex;
    padding: 0 5px;
  }

  .header__social-items {
    padding: 0 5px;
    background: #8c30f5;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
  }

  a {
    color: #fff;
  }
}

/* Banner */

.main-banner {
  padding: 130px 0;
  background-color: #9fbecf;
}

.banner__text {
  font-size: 40px;
  margin: 16px 0px;
  text-align: center;
}

.main-banner__span {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  font-feature-settings: "liga" off;
  margin: 15px 0;
}

.main-banner__image {
  display: flex;
  justify-content: center;
}

.banner__image-woman {
  align-items: center;
}

.main-banner__circle-orange {
  display: none;
}

.main-banner__circle-turquoise {
  display: none;
}

.main-banner__button {
  display: flex;
  justify-content: center;
}

.banner__button-touch {
  background: #8c30f5;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: flex-start;
  flex-grow: 0;
  margin: 32px 0px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-feature-settings: "liga" off;
  padding: 16px 41px;
  border: none;
  color: #ffffff;
}

.banner__button-touch:hover {
  background-color: #fff;
  color: #8c30f5;
  margin: none;
}

.main-banner__circle {
  display: none;
}

@media screen and (max-width: 600px) {
  .main-banner {
    background-color: #9fbecf;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .main-banner {
    background-color: #9fbecf;
  }
}

@media screen and (min-width: 1024px) {
  .main-banner {
    display: flex;
    background-color: #fff;
  }

  .main-banner__wrap {
    display: inline-flex;
    margin: auto;
  }

  .main-banner__container {
    position: relative;
    display: inline-flexbox;
  }

  .banner__text {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: left;
    font-feature-settings: "liga" off;
    color: #18191f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
  }

  .main-banner__span {
    text-align: left;
  }

  .main__banner-image {
    position: relative;
  }

  .banner__image-woman {
    padding: 0 20px;
  }

  .main-banner__button {
    position: absolute;
  }

  .main-banner__button-touch {
    cursor: pointer;
  }

  .main-banner__circle-orange {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-banner__circle-turquoise {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-banner__big-circle {
    display: none;
  }
}

/* title */

.main-title {
  text-align: center;
  font-size: 30px;
}

.main-title__text {
  font-size: 24px;
  padding-bottom: 30px;
}

.main-title__list {
  display: flex;
  justify-content: space-between;
}

.main-title__icons {
  display: flex;
  justify-content: space-around;
}

.main-title__container {
  display: flex;
}

.main-title__list {
  width: 35px;
  height: 35px;
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .main-title__list {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .main-title__text {
    font-style: normal;
    padding-bottom: 50px;
    font-size: 35px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #18191f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
  }

  .main-title__list {
    width: 100px;
    height: 100px;
  }
}
